<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="index::encabezado"/>
<body>
<nav th:insert="index::navbar"></nav>




	<div class="container my-2">
	<h1>Lista de asistencia</h1>
	
	<!--a th:href = "@{/showNewUserForm}" class="btn btn-primary btn-sm mb-3"> Add User </a-->
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=nombre&sortDir=' + ${reverseSortDir}}">
							Nombre</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=apellidoPaterno&sortDir=' + ${reverseSortDir}}">
							Apellido paterno</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=correo&sortDir=' + ${reverseSortDir}}">
							Correo</a>
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUser}">
					<td th:text="${user.nombre}"></td>
					<td th:text="${user.apellidoPaterno}"></td>
					<td th:text="${user.correo}"></td>
					<td> <a th:href="@{/showFormForUpdate/{folio}(folio=${user.folio})}" class="btn btn-primary">Pasar lista</a>
					    <!-- a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a-->
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>
</html>